@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <NavMenu />
    <MudMainContent Class="pt-0">
        <div style="padding-top: 48px;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>