@inject NavigationManager navigationManager
@inherits LayoutComponentBase

<div class="navbar">
    <a class="nav-item active" href="#"><span class="material-icons">groups</span> Kunden</a>
    <a class="nav-item" href="#"><span class="material-icons">grid_view</span> Bikes</a>
    <a class="nav-item" href="#"><span class="material-icons">assignment</span> Rennen</a>
    <a class="nav-item" href="#"><span class="material-icons">calendar_today</span> Kalender</a>
    <a class="nav-item" href="#"><span class="material-icons">tv</span> Events</a>
    <a class="nav-item" href="#"><span class="material-icons">hourglass_empty</span> Rankings</a>
    <a class="nav-item" href="#"><span class="material-icons">bar_chart</span> Statistiken</a>
    <a class="nav-item" href="#"><span class="material-icons">apartment</span> Management</a>
    <a class="nav-item" href="#"><span class="material-icons">person</span> Einstellungen</a>
</div>
<div>
    @Body
</div>
