.navbar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    gap:15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
button {
    padding: 0;
    gap: 5px;

}
.nav-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    gap: 8px;
    text-decoration: none;
}

    .nav-item:hover {
        background-color: #f0f0f0;
    }

    .nav-item.active, .dropdown-item.active, .dropdown-item:active, .dropdown-toggle.active {
        background-color: #fceeee;
        color: #c62828;
        font-weight: bold;
    }

    .nav-item .material-icons {
        font-size: 18px;
    }

.dropdown-toggle:hover {
    background-color: #f0f0f0;
}
.dropdown-toggle {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}
