services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: wsb_racing
      POSTGRES_USER: wsb
      POSTGRES_PASSWORD: wsb_password
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "55432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8090:80"
    depends_on:
      - postgres-db

volumes:
  pg_data:

 