@using Microsoft.AspNetCore.Components.Authorization
@using WSB_Management.Components.Layout
@using WSB_Management.Components.Auth

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            @* WICHTIG: AuthorizeRouteView statt RouteView für Schutz *@
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">Du hast keine Berechtigung für diese Seite.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <p role="alert">Seite nicht gefunden.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>